.budgets-container {
  padding: 40px;
  color: white;
}

.budgets-container h1 {
  font-size: 32px;
  margin-bottom: 25px;
}

.budgets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.budget-card {
  background: #1c2333;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.budget-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.budget-icon {
  font-size: 26px;
}

.budget-info {
  margin-top: 15px;
}

.budget-info p {
  margin: 10px 0 6px 0;
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #2e3446;
  border-radius: 5px;
  margin: 10px 0 14px 0;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  border-radius: 5px;
}
.pagination-wrapper {
  display: flex;
  justify-content: center; /* center horizontally */
  margin: 20px 0; /* spacing from grid */
  background-color: #15181e;; /* black background */
  padding: 10px 0;
  border-radius: 8px;
}

.pagination-wrapper .MuiPagination-root {
  color: #fff; /* white text */
}

.pagination-wrapper .MuiPaginationItem-root {
  color: #fff; /* white page numbers */
}

.pagination-wrapper .Mui-selected {
  background-color: #1976d2; /* primary blue for selected page */
  color: #fff;
}