/* ../styles/dashboardRecentTransactionsStyle.css */

.recent-transactions {
  width: 500px;
  background: #0f131a;
  border-radius: 14px;
  padding: 16px;
  margin-left: 100px;
}

.recent-transactions-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.recent-transaction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #151a22;
  border-radius: 14px;

  padding: 12px 14px;
  margin-bottom: 10px;
}

.recent-transaction-name {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.recent-transaction-amount {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}
