.sidebar {
  width: 220px;
  background-color: #1d1b1b;
  padding: 16px 16px 16px 0px;
  height: 100vh;

  grid-row-start: 1;
  grid-row-end: 4;
}

.list-group-item {
  margin: 10px -10px;
  border: none;
  background: none;
  list-style-type: none;
}

.side-bar-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0px;
  border-radius: 8px;
  background: transparent;
  color: #9da1a7;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.side-bar-btn:hover {
  background-color: #424750;
  color: #e2e8f0;
}

.side-bar-button-image {
  width: 20px;
  height: 20px;
  padding-left: 1cap;
  object-fit: contain;
}

.side-bar-button-text {
  flex: 1;
  text-align: left;
}
